<!doctype html>
<html th:replace="~{base :: layout(~{::title/text()}, ~{::main})}">

<head>

  <title>
    <th:block th:unless="${objetivo.id}">Novo</th:block>
    <th:block th:if="${objetivo.id}">Editar</th:block>
    Objetivo
  </title>

</head>

<body>

  <main>
    <h1>
      <span th:unless="${objetivo.id}">Novo</span>
      <span th:if="${objetivo.id}">Editar</span>
      Objetivo
    </h1>

    <form method="post" th:object="${objetivo}">
      <input type="hidden" th:field="*{id}">
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" th:field="*{title}" required>
        <ul>
          <li th:each="error : ${#fields.errors('title')}" th:text="${error}" class="text-danger"></li>
        </ul>
      </div>
      <div class="mb-3">
        <label for="deadline" class="form-label">Prazo final</label>
        <input type="date" class="form-control" id="deadline" th:field="*{deadline}" required>
        <ul>
          <li th:each="error : ${#fields.errors('deadline')}" th:text="${error}" class="text-danger"></li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </main>

</body>

</html>