<!doctype html>
<html th:replace="~{base :: layout(~{::title/text()}, ~{::main})}">

<head>

  <title>Lista de Objetivos</title>

</head>

<body>
  
  <main>
    <h1>Lista de Objetivos</h1>

    <table class="table" th:unless="${#lists.isEmpty(objetivos)}">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Título</th>
          <th scope="col">Criado em</th>
          <th scope="col">Data de entrega</th>
          <th scope="col">Finalizado em</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="objetivo : ${objetivos}">
          <th scope="row" th:text="${objetivo.id}">1</th>
          <td th:text="${objetivo.title}">Mark</td>
          <td th:text="${#temporals.format(objetivo.createdAt)}">Otto</td>
          <td th:text="${#temporals.format(objetivo.deadline)}">@mdo</td>
          <td th:text="${#temporals.format(objetivo.finishedAt)} ?: '-'">@mdo</td>

          <td>
            <form class="d-inline" th:action="@{/finish/{id}(id=${objetivo.id})}" method="post">
              <button type="submit" class="btn btn-sm btn-primary"
                th:classappend="${objetivo.finishedAt} ? 'disabled' : ''">Concluir</button>
            </form>

            <a th:href="@{/edit/{id}(id=${objetivo.id})}" class="btn btn-sm btn-secondary"
              th:classappend="${objetivo.finishedAt} ? 'disabled' : ''">Editar</a>

            <a th:href="@{/delete/{id}(id=${objetivo.id})}" class="btn btn-sm btn-danger">Excluir</a>
          </td>
        </tr>
      </tbody>
    </table>

    <p th:if="${#lists.isEmpty(objetivos)}">Nenhum objetivo cadastrado</p>

    <a th:href="@{/create}" class="btn btn-primary">Novo Objetivo</a>
  </main>

</body>

</html>